*{box-sizing: border-box;margin: 0; padding: 0;}
body{background-color:#000;}

ul {
  list-style: none;
  width: 400px;
}

.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  width: 400px;
}

.form__input {
  display: flex;
  width: 100%;
  border-bottom: 1px dashed gray;
  padding-bottom: 10px;
  height: 67px;
  align-items: center;
  gap:20px;
}

.form__edit-input {
  outline: none;
  border: none;
  font-size: 20px;
  width: 90%;
}
.makeStyles-root-1:hover{box-shadow: 0 0 10px 6px #fff;}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.makeStyles-label-2 {
    width: 80%;
    background: #fff;
    border-radius: 5px;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(10px, -9px) scale(0.75) !important;
    background: #fff;
    padding: 8px;border-radius: 5px;}


.copy-rights{position: fixed;bottom: 0;left: 0;width: 100%;text-align: center;padding: 10px;background-color: #000;color: #fff;font-size: 14px;border-top: 1px solid #fff;}
.copy-rights p a{color: #fff;text-decoration: none;}
.copy-rights p a:hover{color: #fff;text-decoration: underline;}
